<html class= "usershow">

  <head>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">

      <style>
          body{
              font-family: 'Fjalla One', sans-serif;
              letter-spacing: .5px;
              position: relative;
              top: 5px;
              bottom:60px;
              right:100px;
              left:20px;
              color:white;
              font-size: 25px;
              background-color:black;
              opacity: .8;
              padding: 20px;
            }
          a{
            color:white;
          }
          span{
            font-size: 80px;
            background-color:black;
          }
      </style>
  </head>

<body>

  <h1> STRIVE </h1>
  <h4> Add a workout</h4>
  <%= render 'form' %>

</body>
</html>
