<html class= "usershow">

  <head>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">

    <style>
      a{
        color:white;
      }
      body{
        background-color:black;
        color:white;
        opacity: .8;
        padding-left: 5%;
        padding-right: 30%;
        font-family: 'Fjalla One', sans-serif;
        letter-spacing: .5px;
        position: relative;
        top: 5px;
        bottom:60px;
        right:100px;
        left:20px;
        font-size: 25px;
      }
      span{
        font-size: 80px;
        background-color:black;
      }
    </style>
  </head>

  <body>
<h1>Edit this goal</h1>

<%= render 'form' %>
</body>
</html>
