#strive {
  /* for logo */
  color: white;
  padding : 3px;
  font-family: 'Faster One';
}

.welcome{
  /* In the user's show page, welcomes back user */
  color: white;
  padding:0px;
  background-color: black;
  opacity: .9;
}

.user{
  /*Shows the user's fitness goals */
  padding-left: 10px;
  background-color: black;
  opacity: .7;
}

.login{
  /*for the login page  */
  position: absolute;
  margin-top: 10%;
  margin-left: 35%;
  margin-right: auto;
  margin-bottom: 0px;
  top: 0;
  right: 0;
  bottom: 35%;
  left: 0;
  width:30%;
  height: 60%;
}

.log{
  /*Entire login page  */
  background-image: url("https://www.bodyx.com/fitness/wp-content/uploads/2015/05/bodyx-fitness-background-v2.jpg");
  /* background-position: top;
  position: absolute; */
  color:black;
}

.profile{
  /*users profile info  */
  padding-left: 20px;
  padding-top: 5px;
  background-color: black;
  color:white;
  opacity: .6;
}

.usershow{
  /*entire user show page */
  background-image: url("https://cdn.wallpapersafari.com/98/7/dOBCZa.jpg");
  background-position: top;
  opacity:0.9;
  padding-right: 5%;
  padding-top: 0px;
  padding-left: 1px;

  width:100%;
  height:100%;
  position: absolute;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  top: 0;
  right: 0;
  bottom: 35%;
  left: 0;
  width:60%;
  height: 40%;
}

#usergoals{
  /* Shows upcoming workouts section  */
  padding-left: 20px;
  padding-top: 4px;
  margin-bottom: 10px;
  background-color: white;
  color:black;
  opacity: .6;
}
