#strive {
  /* background-color: black; */
  color: white;
  padding : 3px;
  font-family: 'Faster One';

}

.welcome{
  color: white;
  padding:0px;
  background-color: black;
  opacity: .9;
}

.user{
  /* background-color: #E5E2E1; */
  padding-left: 10px;
  background-color: black;
  opacity: .7;
}
.login{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 35%;
  left: 0;
  width:100px;
  height: 40%;
}

.log{
  background-image: url("https://www.bodyx.com/fitness/wp-content/uploads/2015/05/bodyx-fitness-background-v2.jpg");
  color:black;
  padding-top: 10px;
  padding-right: 80%;
  padding-bottom: 100px;
  padding-left: 20px;
}

.profile{
  padding-left: 20px;
  opacity: .7;

}
.usershow{
  background-image: url("https://cdn.wallpapersafari.com/98/7/dOBCZa.jpg");
  background-position: center;
  opacity:0.9;
  padding-top: 3%;
  padding-right: 5%;
  padding-bottom: 100px;
  padding-left: 1px;
  width:100%;
  height:100%;
}

#usergoals{
  padding-left: 20px;
  margin-bottom: 10px;
  background-color: black;
  opacity: .7;

}
