#strive {
  /* for logo */
  color: white;
  padding : 3px;
  font-family: 'Faster One';
}

.welcome{
  /* In the user's show page, welcomes back user */
  color: white;
  padding:0px;
  background-color: black;
  opacity: .9;
}

.user{
  /*Shows the user's fitness goals */
  padding-left: 10px;
  background-color: black;
  opacity: .7;
}

.login{
  /*for the login page  */
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 35%;
  left: 0;
  width:100px;
  height: 40%;
}

.log{
  /*Entire login page  */
  background-image: url("https://www.bodyx.com/fitness/wp-content/uploads/2015/05/bodyx-fitness-background-v2.jpg");
  color:black;
  padding-top: 10px;
  padding-right: 80%;
  padding-bottom: 100px;
  padding-left: 20px;
}

.profile{
  /*users profile info  */
  padding-left: 20px;
  opacity: .7;
}

.usershow{
  /*entire user show page */
  background-image: url("https://cdn.wallpapersafari.com/98/7/dOBCZa.jpg");
  background-position: center;
  opacity:0.9;
  padding-right: 5%;
  padding-left: 1px;
  width:100%;
  height:100%;
  border-style: solid;
  border-color: black;
  box-sizing: inherit;
  border-width: 20px;
  position:absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 35%;
  left: 0;
  width:60%;
  height: 40%;

}

#usergoals{
  /* Shows upcoming workouts section  */
  padding-left: 20px;
  margin-bottom: 10px;
  background-color: black;
  opacity: .7;
}
